* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader {
  color: #0070c0;
  display: inline-block;
  position: relative;
  font-size: 28.23px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


